* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 250ms;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: rgb(230, 230, 230);
    overflow-x: hidden;
    width: 100vw;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-left: 3em;
    border-bottom: 2px solid rgb(131, 131, 131);
    background-color: rgb(230, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-area {
    padding-top: 5.5em;
}

.right {
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.nav .right a:hover {
    border-bottom: 5px solid gold;
    transition: 250ms;
}

.nav .right a {
    font-weight: 750;
    color: rgb(38, 0, 255);
}

.nav .right .options {
    font-weight: 750;
    color: rgb(38, 0, 255);
}

.nav .right .options .dropdown-menu {
    display: none;
}


/* .nav .right .options:hover>.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(223, 223, 223);
} */

.rightOuter .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    width: max-content;
}

.nav .right .options .dropdown-menu .dropdown-item {
    font-size: medium;
    z-index: 1000;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.nav .hamburger {
    display: none;
}

.rightOuter .right .options .dropdown-menu {
    width: max-content;
}

.rightOuter .right .options .opticontext {
    display: flex;
    margin-right: -1em;
}

.buttonCool {
    background-color: gold;
    padding: 0.5em;
    border-radius: 0.5em;
    width: max-content;
}

.buttonDrip {
    background-color: crimson;
    padding: 0.2em;
    border-radius: 0.5em;
}

#loader {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.9;
}

#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 40em) {
    .nav .hamburger {
        display: block;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        /* outline: 2px solid red; */
    }
    .nav .rightOuter .right {
        display: none;
        position: absolute;
    }
    .nav .rightOuter {
        /* outline: 2px solid red; */
    }
    .content-area {
        padding-top: 4em;
    }
}