* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(230, 230, 230);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    padding-left: 3em;
    border-bottom: 2px solid rgb(131, 131, 131);
}

.right {
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.nav .right a:hover {
    border-bottom: 5px solid gold;
    transition: 250ms;
}

.nav .right a {
    font-weight: 750;
    color: rgb(38, 0, 255);
}