.main {
    display: flex;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.mainRight {
    width: 50%;
}

.mainRight img {
    width: 80%;
    float: right;
    height: 100%;
}

.mainLeft {
    font-size: larger;
    float: left;
}

.mainLeft * {
    padding-bottom: 0.5em;
}

@media (max-width: 40em) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
    }
    .mainRight {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainRight img {
        width: auto;
        height: 50vh;
        padding: 2em;
    }
    .mainLeft {
        font-size: small;
        padding: 2rem;
    }
}