.main {
    display: flex;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.mainRight {
    width: 50%;
}

.mainRight img {
    width: 80%;
    float: right;
    height: 100%;
}

.mainLeft {
    font-size: larger;
    float: left;
}

.mainLeft * {
    padding-bottom: 0.5em;
}