.itemClick .hide {
    display: none;
    transition: all 0.3s ease;
    transition: 250ms;
    width: 100%;
    border: 0.2em solid gold;
}

.itemClick {
    transition: 250ms;
    font-size: larger;
    padding: 0.2em;
    width: 100%;
}

.helpMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
    width: 100%;
}

.helpOuter {
    padding: 2em;
    width: 100%;
}

.itemClick .hide {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
}

.itemClick .hide .hiddenlist {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em;
}

.itemClick:hover {
    cursor: pointer;
    width: max-content;
}

@media (max-width: 40em) {
    .helpOuter {
        padding: 0;
        float: left;
    }
    .helpMain {
        padding: 0.5em;
    }
    .itemClick .hide {
        max-width: 16em;
    }
    .itemClick .hide {
        padding: 0.3em;
    }
}