.outerlogin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.loginmain {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
}

.loginmain form {
    padding: 1em;
    width: 20em;
}

.loginmain form .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loginmain form * {
    padding-bottom: 1em;
    width: 100%;
}

.outerlogin * {
    font-size: 1.1em;
}

.outerlogin h1 {
    font-size: 2.1em;
}

.outerlogin .loginmain form .container button {
    text-align: center;
    padding: 0.5em;
    background-color: blue;
    font-size: medium;
    color: white;
}

@media (max-width: 40em) {
    .outerlogin .loginmain {
        width: 90%;
    }
    .loginmain form {
        width: 100%;
    }
    .outerlogin .loginmain form .container input {
        font-size: medium;
    }
}