.viewnotesouter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewnotesmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    margin-top: 3em;
}

.viewnotesmain .item .action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 2em;
}

.viewnotesmain .item .itemlogo img {
    height: 10em;
    width: auto;
}

.viewnotesmain .item {
    box-shadow: rgba(0, 0, 0, 0.609) 0px 5px 15px;
    padding: 1em;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.viewnotesmain .item .action a {
    background-color: blue;
    color: white;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em;
}

.viewnotesmain .item .action .deletethis {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(217, 15, 15);
}

@media (max-width: 40em) {
    .viewnotesouter {
        width: 100%;
        align-self: center;
        padding: 1em;
    }
    .viewnotesmain {
        grid-template-columns: 1fr;
    }
    .viewnotesmain .item {
        width: auto;
    }
    .viewnotesmain .item .itemtext {
        font-size: small;
    }
    .viewnotesmain .item .itemlogo {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .viewnotesmain .item .itemlogo img {
        width: 60%;
        height: auto;
    }
}