body {
    width: 100vw;
    height: 100vh;
}

.notePicOuter {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2em;
}

.notePicOuter .selectedPic {
    height: 40%;
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 3em;
}

.notePicOuter .notePicMain {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;
    overflow: scroll;
    width: 100%;
    margin-bottom: 0em;
    margin-left: auto;
}

.notePicOuter .helps {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.notePicOuter .helps * {
    padding-left: 2em;
    padding-right: 2em;
}

.notePicOuter .notePicMain .item .pic img {
    height: 7em;
    width: 7em;
    object-fit: contain;
}

.notePicOuter .notePicMain {
    padding: 1em;
    object-fit: contain;
}

.notePicOuter .notePicMain .item:hover {
    outline: 0.7em solid cyan;
    transition: 250ms;
    border-radius: 1em;
}

.notePicOuter .selectedPic .image img {
    max-width: 100%;
    transition: 250ms;
    padding: 0em;
    object-fit: contain;
    height: 20em;
}

.notePicOuter .selectedPic .image {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
}

.notePicOuter .notePicMain .item {
    flex-shrink: 0;
}

.notePicOuter .selectedPic .controls .contBut img {
    width: auto;
    height: 2em;
}

.notePicOuter .selectedPic .controls {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin-top: 2em;
}

.notePicOuter .selectedPic .controls .contBut:hover {
    border: 0.3em solid cyan;
}

.notePicOuter .selectedPic .controls .contBut {
    transition: 250ms;
}

.notePicMain {
    align-self: flex-start;
    border: 0;
    margin: 0;
    transition: 250ms;
}

@media (max-width: 40em) {
    .notePicOuter {
        /* justify-content: space-evenly; */
    }
    .notePicOuter .selectedPic .image img {
        max-width: 100%;
        transition: 250ms;
        padding: 0;
        height: 14em;
        object-fit: contain;
    }
    .notePicOuter .notePicMain .item .pic img {
        height: 3em;
        width: 3em;
        object-fit: cover;
    }
    /* .notePicOuter .selectedPic {
        margin-bottom: auto;
    } */
    /* .notePicOuter .notePicMain {
        height: 100%;
    } */
}