{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Add Uploader{% endblock title %} {% block addUploaderOr %}

<div>
    <form action="#" method="post">
        {% csrf_token %} {% load static %}
        <center>
            <div class="container">

                <label for='user_id'><b>User ID : </b></label>
                <input type='number' placeholder="Enter user id to add" name='user_id' required><br>
                <button type="submit"><b>Make Uploader</b></button><br>
            </div>
        </center>
    </form>
</div>
{%endblock addUploaderOr%}