{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}All members{% endblock title %} {% block allUserOr %}

<div class="madeorgouter">
    <h1>Members in Organisation : {{name}}</h1>
    <!-- <center>
        <a href="{%url 'madeorganisation' %}">
			Go back
		</a>
    </center> -->
    <table border=1>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email address</th>
        </tr>
        {%for i in users%}
        <tr>
            <td>
                {{i.0}}
            </td>
            <td>
                {{i.1}}
            </td>
            <td>
                {{i.2}}
            </td>
            <td>
                {{i.3}}
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock allUserOr%}