{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteStore | {%block title%} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'mydemo1/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/createorg.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/madeorg.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/viewnotes.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/visitNote.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/addUser.css' %}">
</head>

<body>
    <div class="nav">
        <div class="left">
            <h1><a href="{% url 'index' %}">NoteStore</a></h1>
        </div>
        <div class="right">
            <b><a href="{% url 'index' %}">Home</a></b> {%if logged_in%}
            <b><a href="{% url 'logout' %}">Logout</a></b> {%else%}
            <b><a href="{% url 'signup' %}">Signup</a></b>
            <b><a href="{% url 'login' %}">Login</a></b> {%endif%}
        </div>

    </div>

    <div>
        {% block profile_welcome %} {% endblock profile_welcome %}
    </div>
    <div>
        {% block home %} {% endblock home %}
    </div>
    <div>
        {% block addPhotoNo %} {%endblock addPhotoNo%}
    </div>
    <div>
        {% block addUploaderOr %} {%endblock addUploaderOr%}
    </div>
    <div>
        {% block addUserOr %} {%endblock addUserOr%}
    </div>
    <div>
        {% block createOrganisation %} {%endblock createOrganisation%}
    </div>
    <div>
        {% block error %} {%endblock error%}
    </div>
    <div>
        {% block joinOrganisation %} {%endblock joinOrganisation%}
    </div>
    <div>
        {% block login %} {%endblock login%}
    </div>
    <div>
        {% block madeorganisation %} {%endblock madeorganisation%}
    </div>
    <div>
        {% block myorganisation %} {%endblock myorganisation%}
    </div>
    <div>
        {% block nottheuploader %} {%endblock nottheuploader%}
    </div>
    <div>
        {% block renameOr %} {%endblock renameOr%}
    </div>
    <div>
        {% block signup %} {%endblock signup%}
    </div>
    <div>
        {% block uploadNotesOr %} {%endblock uploadNotesOr%}
    </div>
    <div>
        {% block viewNotesOr %} {%endblock viewNotesOr%}
    </div>
    <div>
        {% block visitNote %} {%endblock visitNote%}
    </div>
    <div>
        {% block renameNo %} {%endblock renameNo%}
    </div>
    <div>
        {% block allUserOr %} {%endblock allUserOr%}
    </div>
</body>

</html>