{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0">

    <title>NoteStore | {%block title%} {% endblock title %}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'mydemo1/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/createorg.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/madeorg.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/viewnotes.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/visitNote.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/addUser.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/renameOr.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/createNewNote.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/howtouse.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/addUploaderOr.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/nottheuploader.css' %}">
    <link rel="stylesheet" href="{% static 'mydemo1/css/error.css' %}">

</head>

<body>
    <script>
        let closeurl = "{% static 'mydemo1/images/close_hamburger.png' %}";
        let openurl = "{% static 'mydemo1/images/hamburger.png' %}";
        let dropdownurl = "{% static 'mydemo1/images/dropdown.png' %}";
        let dropupurl = "{% static 'mydemo1/images/dropup.png' %}";
    </script>
    <div class="nav">
        {%if logged_in%}
        <div class="left">
            <h1><a href="{% url 'welcome' %}">NoteStore</a></h1>
        </div>
        {%else%}
        <div class="left">
            <h1><a href="{% url 'index' %}">NoteStore</a></h1>
        </div>
        {%endif%}
        <div class="rightOuter">

            <div class="right">
                {%if logged_in%}
                <b><a class="buttonCool" style="border:0.1em solid blue; color:darkblue; background-color:transparent;" href="{% url 'welcome' %}">Home</a></b> {%else%}
                <b><a class="buttonCool" style="border:0.1em solid blue; color:darkblue; background-color:transparent;" href="{% url 'index' %}">Home</a></b> {%endif%}
                <b><a class="buttonCool" style="border:0.1em solid blue; color:darkblue; background-color:transparent;" href="{% url 'howtouse' %}">How to use</a></b> {%if logged_in%}

                <div class="options">
                    <div class="opticontext buttonCool" style="border:0.1em solid blue; color:darkblue; background-color:transparent;">
                        <b>Options</b>
                        <img src="{%static 'mydemo1/images/dropdown.png'%}" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <b><a class="dropdown-item" href="{%url 'createorganisation' %}">Create Organisation</a></b>
                        <b><a class="dropdown-item" href="{%url 'madeorganisation' %}">Organisations Created By you</a></b>
                        <b><a class="dropdown-item" href="{%url 'myorganisation' %}">Organisations You're in</a></b>
                    </div>
                </div>

                <b><a class="buttonCool" style="border:0.1em solid blue; color:darkblue; background-color:transparent;" href="{% url 'logout' %}">Logout</a></b> {%else%}
                <b><a class="buttonCool" style="border:0.1em solid blue; color:darkblue; background-color:transparent;" href="{% url 'signup' %}">Signup</a></b>
                <b><a class="buttonCool" style="border:0.1em solid blue; color:darkblue; background-color:transparent;" href="{% url 'login' %}">Login</a></b> {%endif%}

            </div>
            <div class="hamburger">
                <img src="{%static 'mydemo1/images/hamburger.png' %}" alt="">
            </div>
        </div>

    </div>
    <div class="content-area">

        <div>
            {% block profile_welcome %} {% endblock profile_welcome %}
        </div>
        <div>
            {% block home %} {% endblock home %}
        </div>
        <div>
            {% block addPhotoNo %} {%endblock addPhotoNo%}
        </div>
        <div>
            {% block addUploaderOr %} {%endblock addUploaderOr%}
        </div>
        <div>
            {% block addUserOr %} {%endblock addUserOr%}
        </div>
        <div>
            {% block createOrganisation %} {%endblock createOrganisation%}
        </div>
        <div>
            {% block error %} {%endblock error%}
        </div>
        <div>
            {% block joinOrganisation %} {%endblock joinOrganisation%}
        </div>
        <div>
            {% block login %} {%endblock login%}
        </div>
        <div>
            {% block madeorganisation %} {%endblock madeorganisation%}
        </div>
        <div>
            {% block myorganisation %} {%endblock myorganisation%}
        </div>
        <div>
            {% block nottheuploader %} {%endblock nottheuploader%}
        </div>
        <div>
            {% block renameOr %} {%endblock renameOr%}
        </div>
        <div>
            {% block signup %} {%endblock signup%}
        </div>
        <div>
            {% block uploadNotesOr %} {%endblock uploadNotesOr%}
        </div>
        <div>
            {% block viewNotesOr %} {%endblock viewNotesOr%}
        </div>
        <div>
            {% block visitNote %} {%endblock visitNote%}
        </div>
        <div>
            {% block renameNo %} {%endblock renameNo%}
        </div>
        <div>
            {% block allUserOr %} {%endblock allUserOr%}
        </div>
        <div>
            {% block howtouse %} {%endblock howtouse%}
        </div>
        <div>
            {% block removeLeaveError %} {%endblock removeLeaveError%}
        </div>
    </div>

    <script src="{%static 'mydemo1/js/base.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>

</html>