 {% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block home %} {% if messages %}
<script>
    alert(`{% for message in messages %}
    {{ message }}
        {% endfor %}
		`)
</script>
{% endif %}
<div class="main">

    <div class="mainLeft">
        <h1>
            <span style="color:blue;">Organising</span> your <span style="color:rgb(255, 136, 0);">notes</span>
        </h1>
        <h1>
            has never been
        </h1>
        <h1>
            <span style="color:blue;">easier</span>
        </h1>
        <br>
        <div class="options" style="display:flex; width:100%; gap:1em; justify-content: space-between;">
            <h2><a class="buttonCool" href="{% url 'signup' %}">Join Now</a></h2>
            <h2><a class="buttonCool" href="{% url 'login' %}">Login</a></h2>
        </div>



    </div>
    <div class="mainRight">
        <!-- <img src="https://www.integrationworx.com/sites/default/files/styles/webp/public/glazed-cms-media/mdm_pic_1.png.webp?itok=pF5JzprA&fid=1747" alt=""> -->
        <center>
            <img src="{% static 'mydemo1/images/home_left.webp' %}" alt="">
        </center>
    </div>
</div>

{%endblock home%}