{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}How to Use{% endblock title %} {% block howtouse %}


<center>
    <h1> Help Page </h1>
</center>


<div class="helpOuter">

    <ul class="helpMain" style="list-style: none;">
        <li>
            <h2>Getting Started</h2>
            <ul>
                <li class="itemClick"><span class="itemClickText">Creating an account</span>
                    <div class="hide">
                        To create an account in NoteStore follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                on the home page click on the bottom left button named "Join Now" or Click on the top right button named "Signup".
                            </li>
                            <li>
                                On the register page enter your first name, last name, email id and password, please enter valid details as it may result in login issues later.
                            </li>
                            <li>
                                Click on signup button.
                            </li>
                            <li>
                                If your details were valid and there were no issues, your account will be successfully created.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Logging in</span>
                    <div class="hide">
                        To login to NoteStore follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                on the home page click on the bottom left button named "Login" or Click on the top right button named "Login".
                            </li>
                            <li>
                                On the login page enter your registered email address and your password.
                            </li>
                            <li>
                                If your login credentials were valid, you'll be successfully logged in to NoteStore.
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <h2>Using the tools</h2>
            <ul>
                <li class="itemClick"><span class="itemClickText">Create an Organisation</span>
                    <div class="hide">
                        To create an organisation:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Register or Login from the homepage of NoteStore.
                            </li>
                            <li>
                                When you're in the welcome page after logging in, there will be 3 options:
                                <ol>
                                    <li>Create an Organisation</li>
                                    <li>Organisations by me</li>
                                    <li>Organisations I'm in</li>
                                </ol>
                            </li>
                            <li>
                                Click on "Create an Organisation" button
                            </li>
                            <li>
                                On the Create Organisation page, Enter the name/title you want to create an organisation with.
                            </li>
                            <li>
                                Click on "Create" button.
                            </li>
                            <li>
                                If you get "Successfully created" message, then you can click on "Organisations by me" button to manage your newly created organisation.
                            </li>

                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">View Organisation's created by you</span>
                    <div class="hide">
                        To View and Manage the organisations created by you follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                On the welcome page, click on "Organisations by me" button.
                            </li>
                            <li>
                                You will be redirected to "Organisation's created by you" page.
                            </li>
                            <li>
                                Here you can see all the organisations created by you.
                            </li>
                            <li>
                                On these organisations you can perform following functions:
                                <ol>
                                    <li>
                                        View all notes.
                                    </li>
                                    <li>
                                        Create new note.
                                    </li>
                                    <li>
                                        Add Users.
                                    </li>
                                    <li>
                                        View all users.
                                    </li>
                                    <li>
                                        Rename Organisation.
                                    </li>
                                    <li>
                                        Delete Organisation
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">View Organisation's that you're part of</span>
                    <div class="hide">
                        To view the organisations that you're a part of follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                On the welcome page, click on "Organisations I'm in" button.
                            </li>
                            <li>
                                You will be redirected to "Organisation's you're in" page.
                            </li>
                            <li>
                                Here you can see all the organisations you have joined,been added or created and are a part of.
                            </li>
                            <li>
                                On these organisations you can perform following functions:
                                <ol>
                                    <li>
                                        View all notes.
                                    </li>
                                    <li>
                                        Create new note(Only if you're the creator of that note).
                                    </li>
                                    <li>
                                        View all users.
                                    </li>
                                    <li>
                                        Leave Organisation.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">View Notes</span>
                    <div class="hide">
                        To view notes in an organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                You can view two types of organisations:
                                <ol>
                                    <li>
                                        Organisations created by you.
                                    </li>
                                    <li>
                                        Organisations you're part of.
                                    </li>
                                </ol>
                                Choose the one you want.
                            </li>
                            <li>
                                On the organisation page, choose the organisation you want, as there might be multiple organisations.
                            </li>
                            <li>
                                Click view notes.
                            </li>
                            <li>
                                Choose the note you want to visit and click view photos.
                            </li>
                            <li>
                                Each Note can contain multiple photos. View them in a gallery view.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Create New Note</span>
                    <div class="hide">
                        To delete your Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Select "Organisation by me" option.
                            </li>
                            <li>
                                You'll be redirected to "Organisations created by you" page.
                            </li>
                            <li>
                                Choose the organisation where you want to create a new note.
                            </li>
                            <li>
                                Click "Create New Note".
                            </li>
                            <li>
                                You'll be redirected to Create Note Page
                            </li>
                            <li>
                                Enter the title of the note you want to create.
                            </li>
                            <li>
                                If you want to upload photos in that note, click choose files button and choose multiple image files and click open.
                            </li>
                            <li>
                                Click create.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">View all users in an organisation</span>
                    <div class="hide">
                        To view all users in an Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                You can view two types of organisations:
                                <ol>
                                    <li>
                                        Organisations created by you.
                                    </li>
                                    <li>
                                        Organisations you're part of.
                                    </li>
                                </ol>
                                Choose the one you want.
                            </li>
                            <li>
                                You'll be redirected to "Organisations" page
                            </li>
                            <li>
                                Choose the organisation where you want to view users.
                            </li>
                            <li>
                                Click view users button.
                            </li>
                            <li>
                                You'll be redirected to all users page.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Add Uploader to a Note</span>
                    <div class="hide">
                        To add an uploader in a note in your Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Select "Organisation by me" option.
                            </li>
                            <li>
                                You'll be redirected to "Organisations created by you" page.
                            </li>
                            <li>
                                Choose the organisation where you want to create a new note.
                            </li>
                            <li>
                                Click "View notes".
                            </li>
                            <li>
                                You'll be redirected to "All notes page".
                            </li>
                            <li>
                                Choose the Note you want to add an uploader to, click "Add Uploader" button
                            </li>
                            <li>
                                You'll be redirected to "Add Uploader" page.
                            </li>
                            <li>
                                Enter the User ID of the user you want to add as an uploader to your note.
                            </li>
                            <li>
                                Click Add.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Add photos to a Note</span>
                    <div class="hide">
                        To add an to a note in an Organisation
                        <ol class="hiddenlist">
                            <li>
                                To add photos to a Note you have to be atleast one of the following:
                                <ol>
                                    <li>Owner of the organisation that note is in.</li>
                                    <li>Uploader of the note</li>
                                </ol>
                            </li>
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                You can view two types of organisations:
                                <ol>
                                    <li>
                                        Organisations created by you.
                                    </li>
                                    <li>
                                        Organisations you're part of.
                                    </li>
                                </ol>
                                Choose the one you want.
                            </li>
                            <li>
                                You'll be redirected to "Organisations" page.
                            </li>
                            <li>
                                Choose the organisation.
                            </li>
                            <li>
                                Click "View notes".
                            </li>
                            <li>
                                You'll be redirected to "All notes page".
                            </li>
                            <li>
                                Choose the Note you want to Add photos to, click "Add Photos" button
                            </li>
                            <li>
                                You'll be redirected to "Add photos" page.
                            </li>
                            <li>
                                Click choose files, then choose image files and then click upload.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Add users to Organisation</span>
                    <div class="hide">
                        To add users to your organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Select "Organisations by me" options
                            </li>
                            <li>
                                You'll be redirected to "Organisations created by you" page
                            </li>
                            <li>
                                Choose the organisation where you want to add users.
                            </li>
                            <li>
                                Click add users button.
                            </li>
                            <li>
                                On the add users page, type the user id of the user you want to add.<br> Note: the user you want to add must be registered on NoteStore.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Remove users from your Organisation</span>
                    <div class="hide">
                        To remove users from your Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Select "Organisations by me" options
                            </li>
                            <li>
                                You'll be redirected to "Organisations created by you" page
                            </li>
                            <li>
                                Choose the organisation where you want to remove users from.
                            </li>
                            <li>
                                Click view users button.
                            </li>
                            <li>
                                On the "all users" page click the "remove" button next to the user row you want to remove.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Rename your organisation</span>
                    <div class="hide">
                        To rename your Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Select "Organisation by me" option.
                            </li>
                            <li>
                                You'll be redirected to "Organisations created by you" page.
                            </li>
                            <li>
                                Choose the organisation which you want to rename.
                            </li>
                            <li>
                                Click Rename organisation button.
                            </li>
                            <li>
                                You'll be redirected to Rename Organisation page.
                            </li>
                            <li>
                                Enter the new name/title for your organisation
                            </li>
                            <li>
                                Click rename button once done.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Delete your organisation</span>
                    <div class="hide">
                        To delete your Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Select "Organisation by me" option.
                            </li>
                            <li>
                                You'll be redirected to "Organisations created by you" page.
                            </li>
                            <li>
                                Choose the organisation which you want to rename.
                            </li>
                            <li>
                                Click Delete organisation button.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Rename a Note</span>
                    <div class="hide">
                        To rename a note in your Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Select "Organisation by me" option.
                            </li>
                            <li>
                                You'll be redirected to "Organisations created by you" page.
                            </li>
                            <li>
                                Choose the organisation where you want to create a new note.
                            </li>
                            <li>
                                Click "View notes".
                            </li>
                            <li>
                                You'll be redirected to "All notes page".
                            </li>
                            <li>
                                Choose the Note you want to rename, click "rename note" button
                            </li>
                            <li>
                                You'll be redirected to "Rename note" page.
                            </li>
                            <li>
                                Enter new note title and click Rename.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Remove Uploader of a Note</span>
                    <div class="hide">
                        To add an uploader in a note in your Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                You don't need to remove uploader and revoke image uploading privilage
                            </li>
                            <li>
                                Once you add an uploader for a note, that uploader will be automatically removed in 10 minutes.
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Leave an organisation</span>
                    <div class="hide">
                        To leave an Organisation follow these steps:
                        <ol class="hiddenlist">
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                Click "Organisation I'm in"
                            </li>
                            <li>
                                You'll be redirected to "Organisations you're in" page
                            </li>
                            <li>
                                Choose the organisation you want to leave
                            </li>
                            <li>
                                Click leave organisation
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="itemClick"><span class="itemClickText">Delete a photo from a Note</span>
                    <div class="hide">
                        To Delete a photo from a Note in an Organisation
                        <ol class="hiddenlist">
                            <li>
                                To Delete a photo from a note you have to be atleast one of the following:
                                <ol>
                                    <li>Owner of the organisation that note is in.</li>
                                    <li>Uploader of the note</li>
                                </ol>
                            </li>
                            <li>
                                Visit the official site of NoteStore.
                            </li>
                            <li>
                                Login with your NoteStore account credentials.
                            </li>
                            <li>
                                You can view two types of organisations:
                                <ol>
                                    <li>
                                        Organisations created by you.
                                    </li>
                                    <li>
                                        Organisations you're part of.
                                    </li>
                                </ol>
                                Choose the one you want.
                            </li>
                            <li>
                                You'll be redirected to "Organisations" page.
                            </li>
                            <li>
                                Choose the organisation.
                            </li>
                            <li>
                                Click "View notes".
                            </li>
                            <li>
                                You'll be redirected to "All notes page".
                            </li>
                            <li>
                                Choose the Note you want to view then click "Visit note/View Notes Images" button.
                            </li>
                            <li>
                                You'll be redirected to "Notes Gallery" page.
                            </li>
                            <li>
                                Choose the image you want to delete, click delete button.
                            </li>
                        </ol>
                    </div>
                </li>


            </ul>
        </li>

    </ul>
</div>


<script>
    items = document.querySelectorAll(".itemClick");

    items.forEach(element => {
        element.addEventListener(
            "click",
            function() {
                element.querySelector('.itemClickText').style.cssText = `
					padding:0 0 0.2em 0.2em;
					color:darkblue;
					
					`;

                element.style.cssText = `
					
					list-style:disc;
				`;
                // for (let i = 0; i < items.length; i++) {
                //     items[i].querySelector(".hide").style.display = "none";
                // }
                elementp = element.querySelector(".hide");

                console.log(elementp.style.display)

                if (elementp.style.display != "block") {
                    elementp.style.cssText = "display:block;";
                } else {
                    elementp.style.cssText = "display:none;";
                    element.querySelector('.itemClickText').style.cssText = `
					border-bottom:0;
				`;
                    element.style.cssText = `
					
					list-style:circle;
				`;
                }
            }
        )
    });
</script>


{%endblock howtouse%}