{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Login{% endblock title %} {% block login %}

<div class="outerlogin">
    <h1>Log in</h1><br>
    <div class="loginmain">
        <form action="#" method="post">
            {% csrf_token %} {% load static %}
            <div class="container">

                <input type="email" placeholder="Enter email" name="email" float="right" required><br>
                <input type="password" placeholder="Enter Password" name="password" required><br>
                <center><button type="submit"><b>Log in</b></button></center>

            </div>
        </form>
        <h3>Don't have accounct <a href="{%url 'signup' %}"> register </a></h3>
    </div>
</div>
{%endblock login%}