<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organisations by me</title>
</head>

<body>
    <h1>Organisations i created</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Admin ID</th>
            <th>Options</th>
        </tr>

        {%for i in a%}
        <tr id={{i.0}}>
            <td>
                {{i.0}}
            </td>
            <td>
                {{i.1}}
            </td>

            <td>
                {{i.2}}
            </td>
            <td>
                <a href="http://localhost:8000/addUserOr">Add Users</a>
                <a href="http://localhost:8000/addUploaderOr">Add Uploader</a>
                <a href="http://localhost:8000/renameOr">Rename</a>
                <a href="http://localhost:8000/updateOr">Delete</a>
                <a href="{%url 'viewNotesOr' pk=i.0%}">View all Notes</a>
                <a href="{%url 'uploadNotesOr' pk=i.0%}">Create New Note</a>

            </td>

        </tr>


        {%endfor%}
    </table>
</body>

</html>