{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Organisations Created By Me{% endblock title %} {% block madeorganisation %}

<div>
    <h1>Organisations i created</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Admin ID</th>
            <th>Options</th>
        </tr>

        {%for i in a%}
        <tr id={{i.0}}>
            <td>
                {{i.0}}
            </td>
            <td>
                {{i.1}}
            </td>

            <td>
                {{i.2}}
            </td>
            <td>
                <a href="{%url 'addUserOr' pk=i.0%}">Add Users</a>
                <a href="{%url 'renameOr' pk=i.0%}">Rename</a>
                <a href="{%url 'deleteOr' pk=i.0%}">Delete</a>
                <a href="{%url 'viewNotesOr' pk=i.0%}">View all Notes</a>
                <a href="{%url 'uploadNotesOr' pk=i.0%}">Create New Note</a>

            </td>

        </tr>


        {%endfor%}
    </table>
</div>
{%endblock madeorganisation%}