{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Organisations Created By Me{% endblock title %} {% block madeorganisation %} {% if messages %}
<script>
    alert(`{% for message in messages %}
    {{ message }}
        {% endfor %}
		`)
</script>
{% endif %}
<div class="madeorgouter">
    <center>
        <h1>Organisations i created</h1>
    </center>

    <div class="madeorgmain">
        {%for i in a%}
        <div id={{i.0}} class="item">
            <div class="itemimage">
                <img src="{%static 'mydemo1/images/org_item.png'%}" alt="">
            </div>
            <div class="itemtext">
                <div>
                    <center>
                        <h3>{{i.1}}</h3>
                    </center>
                </div>
                <div>
                    ID: {{i.0}}
                </div>

                <div>
                    Admin ID: {{i.2}}
                </div>
                <div class="options">
                    <a href="{%url 'addUserOr' pk=i.0%}">Add Users</a>
                    <a href="{%url 'allUserOr' pk=i.0%}">View all Users</a>
                    <a href="{%url 'renameOr' pk=i.0%}">Rename</a>
                    <a href="{%url 'viewNotesOr' pk=i.0%}">View all Notes</a>
                    <a href="{%url 'uploadNotesOr' pk=i.0%}">Create New Note</a>
                    <a id="del" href="{%url 'deleteOr' pk=i.0%}">Delete organisation</a>

                </div>
            </div>

        </div>


        {%endfor%}
    </div>
</div>
{%endblock madeorganisation%}