{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Organisations I'm Part of{% endblock title %} {% block myorganisation %}

<div class="madeorgouter">
    <h1>Organisations i'm part of</h1>
    <div class="madeorgmain">
        {%for i in or%}
        <div id={{i.0}} class="item">
            <div class="itemimage">
                <img src="{%static 'mydemo1/images/org_item.png'%}" alt="">
            </div>
            <div class="itemtext">
                <div>
                    <center>
                        <h3>{{i.1}}</h3>
                    </center>
                </div>
                <div>
                    ID: {{i.0}}
                </div>

                <div>
                    Admin ID: {{i.2}}
                </div>
                <div class="options">
                    <a href="{%url 'viewNotesOr' pk=i.0%}" target="_blank">View all Notes</a>
                    <a href="{%url 'allUserOr' pk=i.0%}">View all Users</a>
                    <a class="leave" href="{%url 'leaveOrg' pk=i.0%}">Leave Organisation</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock myorganisation%}