{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Organisations I'm Part of{% endblock title %} {% block myorganisation %}

<div>
    <h1>Organisations im part of</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Admin ID</th>
            <th>Actions</th>
        </tr>
        {%for i in or%}
        <tr>
            <td>
                {{i.0}}
            </td>
            <td>
                {{i.1}}
            </td>
            <td>
                {{i.2}}
            </td>
            <td>
                <a href="{%url 'viewNotesOr' pk=i.0%}">View all Notes</a>
                <a href="{%url 'uploadNotesOr' pk=i.0%}">Create New Note</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock myorganisation%}