{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}View Note{% endblock title %} {% block viewNotesOr %}

<div class="viewnotesouter">
    <h1>View all Notes</h1>
    <div class="viewnotesmain">

        {%for i in final%}
        <div class="item">
            <div class="itemlogo">
                <img src="{%static 'mydemo1/images/note_logo.png'%}" alt="">
            </div>
            <div class="itemtext">
                <div>
                    <center>
                        <h2>{{i.1}}</h2>
                    </center>
                </div>
                <div>
                    ID: {{i.0}}
                </div>
                <div>
                    Upload date and time: {{i.2}}
                </div>
                <div>
                    Uploader ID: {{i.3}}
                </div>
                <div>
                    Organisation ID: {{i.4}}
                </div>
                <div>
                    Uploader: {{i.6}} {{i.7}}
                </div>
                <div>
                    Uploader email: {{i.8}}
                </div>
            </div>
            <div class="action">
                <a href="{%url 'visitNote' pk=i.0%}">Open</a>
                <a href="{%url 'addUploaderOr' pk=i.0%}">Add Uploader</a>
                <a href="{%url 'addPhotosNo' pk=i.0%}">Add Photos</a>
                <a href="{%url 'deleteNote' pk=i.0%}">Delete Note</a>
                <a href="{%url 'renameNo' pk=i.0%}">Rename Note</a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock viewNotesOr%}