{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Visit Note{% endblock title %} {% block visitNote %}

<div>
    <h1>Notes : {{images.0.8}} </h1>
    <h2>Organisation : {{images.0.5}}</h2>
    <center>
        <table border="1">
            <tr>
                <th>Photo</th>
                <th>Date Time</th>
                <th>Uploader Email</th>
            </tr>
            {%for i in images%}
            <tr>
                <td>
                    <img src='data:image/jpeg;base64,{{i.0}}' alt="" style="width:500px;height:500px;">
                </td>
                <td>
                    {{i.3}}
                </td>
                <td>
                    {{i.9}}
                </td>

            </tr>
            {%endfor%}

        </table>
    </center>
</div>
{%endblock visitNote%}