{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Visit Note{% endblock title %} {% block visitNote %}
<h5>Note : {{images.0.8}} | Organisation : {{images.0.5}}</h5>
<div class="notePicOuter">
    <div class="selectedPic" id="selImgConMain">
        <div class="topic">
            <h2></h2>
        </div>
        <div class="image">
            <img src="" alt="">
        </div>
        <div class="controls">
            <div class="contBut" id="rotateAntiClock">
                <img src="{%static 'mydemo1/images/leftRot.png'%}" alt="">
            </div>
            <div class="contBut" id="rotateClock">
                <img src="{%static 'mydemo1/images/rightRot.png'%}" alt="">
            </div>
        </div>
    </div>
    <div class="helps">
        <button class="leftscroll" onclick="scrollleft()">⇽ Scroll</button>
        <button class="rightscroll" onclick="scrollright()">Scroll ⇾</button>
    </div>
    <div class="notePicMain">
        {%for i in images%}
        <div class="item" id="{{i.1}}" data-title="{{i.2}}">
            <div class="pic">
                <center>
                    <img src='data:image/jpeg;base64,{{i.0}}' alt="">
                </center>
            </div>
            <div class="text">
                <div>
                    <h6>Topic: {{i.2}}</h6>
                </div>
                <div>
                    <h6>On: {{i.3}}</h6>
                </div>
                <div>
                    <h6>Email: {{i.9}}</h6>
                </div>
                <center>
                    <div class="options">
                        <a href="{%url 'deletePhoto' pk=i.1%}">Delete</a>

                    </div>
                </center>
            </div>

        </div>
        {%endfor%}

    </div>

</div>
<script src="{%static 'mydemo1/js/script.js'%}"></script>
{%endblock visitNote%}