<html>

<head>
    <title>Welcome Page</title>
    <style>
        body {
            background-color: black;
            color: blue;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <center>
        <h1>Welcome :-)</h1>
        {{fname}} {{lname}}

    </center>

    <a href="http://localhost:8000/createorganisation">Create An Organisation</a><br>
    <a href="http://localhost:8000/joinorganisation">Join An Organisation</a><br>
    <a href="http://localhost:8000/madeorganisation">Organisations by Me</a><br>
    <a href="http://localhost:8000/myorganisation">Organisations I'm in</a><br>

</body>

</html>