{% extends 'mydemo1/base.html' %} {% load static %} {% block title %}Profile{% endblock title %} {% block profile_welcome %} {% if messages %}
<script>
    alert(`{% for message in messages %}
    {{ message }}
        {% endfor %}
    	`)

    // var message = document.querySelector('.messages');

    // If there is a message, show it in an alert box
    // if (message) {
    //     alert(message);
    // }
</script>
{% endif %}
<div class="outerwelcome">
    <center>
        <h1 class="nicetext">
            <span style="color: black;"> Welcome: </span>{{fname}} {{lname}}
        </h1>
    </center>
    <div class="welcomemain">

        <a href="{%url 'createorganisation' %}">
            <div class="logotext">
                <div class="logoimg">
                    <img src="{%static 'mydemo1/images/create_org.png' %}" alt="">

                </div>
                <h2>Create An Organisation</h2><br>
            </div>
        </a>
        <a href="{%url 'madeorganisation' %}">
            <div class="logotext">

                <div class="logoimg">
                    <img src="{%static 'mydemo1/images/madeorg.png' %}" alt="">

                </div>
                <h2>Organisations Created by Me</h2><br>
            </div>
        </a>
        <a href="{%url 'myorganisation' %}">
            <div class="logotext">

                <div class="logoimg">
                    <img src="{%static 'mydemo1/images/myorg.png' %}" alt="">

                </div>
                <h2>Organisations I'm in</h2><br>
            </div>
        </a>
        <!-- <a href="http://localhost:8000/joinorganisation">Join An Organisation</a><br> -->
    </div>
</div>
{%endblock profile_welcome%}